--
-- PostgreSQL database dump
--

\restrict KfKNyK0qJjCpS2Q5lZ1j7ghMwId8Axxa0ucFpgPvVxg4cxBSMNTtmmwZhfkYIm6

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.agents (
    id text NOT NULL,
    company_id text NOT NULL,
    agent_code text NOT NULL,
    full_name text NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    ended_at date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    user_id uuid
);


ALTER TABLE public.agents OWNER TO cadence;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.bookings (
    id text NOT NULL,
    company_id text NOT NULL,
    external_ref text NOT NULL,
    agent_code text NOT NULL,
    booking_date date NOT NULL,
    amount numeric(14,2) NOT NULL,
    currency character(3) DEFAULT 'LKR'::bpchar NOT NULL,
    product_code text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    original_amount numeric(14,2),
    original_currency text,
    exchange_rate numeric(18,6),
    CONSTRAINT bookings_status_check CHECK ((status = ANY (ARRAY['ACTIVE'::text, 'REJECTED'::text])))
);


ALTER TABLE public.bookings OWNER TO cadence;

--
-- Name: commission_rules; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.commission_rules (
    id text NOT NULL,
    company_id text NOT NULL,
    product_code text,
    effective_from date NOT NULL,
    effective_to date,
    min_amount numeric(14,2) DEFAULT 0 NOT NULL,
    max_amount numeric(14,2),
    commission_rate numeric(8,5) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    rule_type text NOT NULL,
    name text DEFAULT 'Unnamed Rule'::text NOT NULL,
    CONSTRAINT commission_rule_dates_check CHECK (((effective_to IS NULL) OR (effective_to >= effective_from))),
    CONSTRAINT commission_rule_max_amount_check CHECK (((max_amount IS NULL) OR (max_amount > min_amount))),
    CONSTRAINT commission_rule_min_amount_check CHECK ((min_amount >= (0)::numeric)),
    CONSTRAINT commission_rule_rate_check CHECK (((commission_rate >= (0)::numeric) AND (commission_rate <= (100)::numeric))),
    CONSTRAINT commission_rules_rule_type_check CHECK ((rule_type = ANY (ARRAY['TIERED'::text, 'PRODUCT_OVERRIDE'::text])))
);


ALTER TABLE public.commission_rules OWNER TO cadence;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.companies (
    id text NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.companies OWNER TO cadence;

--
-- Name: exchange_rates; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.exchange_rates (
    id text NOT NULL,
    effective_from date NOT NULL,
    currency character(3) NOT NULL,
    rate_to_lkr numeric(14,4) NOT NULL,
    source text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT exchange_rates_positive_rate CHECK ((rate_to_lkr > (0)::numeric))
);


ALTER TABLE public.exchange_rates OWNER TO cadence;

--
-- Name: payout_booking_items; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.payout_booking_items (
    id text NOT NULL,
    payout_run_id text NOT NULL,
    booking_id text NOT NULL,
    commission_amount numeric(12,2) DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payout_booking_items OWNER TO cadence;

--
-- Name: payout_line_items; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.payout_line_items (
    id text NOT NULL,
    payout_run_id text NOT NULL,
    agent_code text NOT NULL,
    booking_count integer NOT NULL,
    gross_volume numeric(12,2) NOT NULL,
    commission_rate numeric(8,5) NOT NULL,
    commission_amount numeric(12,2) NOT NULL,
    booking_id text
);


ALTER TABLE public.payout_line_items OWNER TO cadence;

--
-- Name: payout_runs; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.payout_runs (
    id text NOT NULL,
    company_id text NOT NULL,
    run_no integer NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    status text NOT NULL,
    total_amount numeric(12,2) DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT payout_runs_status_check CHECK ((status = ANY (ARRAY['DRAFT'::text, 'FINALISED'::text])))
);


ALTER TABLE public.payout_runs OWNER TO cadence;

--
-- Name: refunds; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.refunds (
    id text NOT NULL,
    company_id text NOT NULL,
    booking_id text NOT NULL,
    payout_run_id text,
    amount numeric(14,2) NOT NULL,
    reason text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    adjustment_required boolean DEFAULT false NOT NULL,
    CONSTRAINT refunds_status_check CHECK ((status = ANY (ARRAY['PENDING'::text, 'PROCESSED'::text, 'CANCELLED'::text])))
);


ALTER TABLE public.refunds OWNER TO cadence;

--
-- Name: users; Type: TABLE; Schema: public; Owner: cadence
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id text NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['COMPANY_ADMIN'::character varying, 'FINANCE'::character varying, 'AGENT'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO cadence;

--
-- Name: agents agents_company_code_unique; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_company_code_unique UNIQUE (company_id, agent_code);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: agents agents_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_user_id_unique UNIQUE (user_id);


--
-- Name: bookings bookings_company_external_ref_unique; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_company_external_ref_unique UNIQUE (company_id, external_ref);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: commission_rules commission_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.commission_rules
    ADD CONSTRAINT commission_rules_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: exchange_rates exchange_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT exchange_rates_pkey PRIMARY KEY (id);


--
-- Name: exchange_rates exchange_rates_unique_date_currency; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT exchange_rates_unique_date_currency UNIQUE (effective_from, currency);


--
-- Name: payout_booking_items payout_booking_items_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_booking_items
    ADD CONSTRAINT payout_booking_items_pkey PRIMARY KEY (id);


--
-- Name: payout_booking_items payout_booking_items_unique_booking; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_booking_items
    ADD CONSTRAINT payout_booking_items_unique_booking UNIQUE (payout_run_id, booking_id);


--
-- Name: payout_line_items payout_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_line_items
    ADD CONSTRAINT payout_line_items_pkey PRIMARY KEY (id);


--
-- Name: payout_runs payout_runs_company_id_run_no_key; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_runs
    ADD CONSTRAINT payout_runs_company_id_run_no_key UNIQUE (company_id, run_no);


--
-- Name: payout_runs payout_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_runs
    ADD CONSTRAINT payout_runs_pkey PRIMARY KEY (id);


--
-- Name: refunds refunds_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_pkey PRIMARY KEY (id);


--
-- Name: users users_company_id_email_key; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_company_id_email_key UNIQUE (company_id, email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: bookings_company_agent_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX bookings_company_agent_idx ON public.bookings USING btree (company_id, agent_code);


--
-- Name: bookings_company_date_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX bookings_company_date_idx ON public.bookings USING btree (company_id, booking_date);


--
-- Name: commission_rules_company_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX commission_rules_company_idx ON public.commission_rules USING btree (company_id);


--
-- Name: commission_rules_effective_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX commission_rules_effective_idx ON public.commission_rules USING btree (company_id, effective_from, effective_to);


--
-- Name: commission_rules_product_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX commission_rules_product_idx ON public.commission_rules USING btree (company_id, product_code);


--
-- Name: payout_booking_items_booking_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX payout_booking_items_booking_idx ON public.payout_booking_items USING btree (booking_id);


--
-- Name: payout_booking_items_payout_run_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX payout_booking_items_payout_run_idx ON public.payout_booking_items USING btree (payout_run_id);


--
-- Name: refunds_booking_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX refunds_booking_idx ON public.refunds USING btree (booking_id);


--
-- Name: refunds_company_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX refunds_company_idx ON public.refunds USING btree (company_id);


--
-- Name: refunds_created_by_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX refunds_created_by_idx ON public.refunds USING btree (created_by);


--
-- Name: refunds_payout_run_idx; Type: INDEX; Schema: public; Owner: cadence
--

CREATE INDEX refunds_payout_run_idx ON public.refunds USING btree (payout_run_id);


--
-- Name: agents agents_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: agents agents_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_user_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: commission_rules commission_rules_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.commission_rules
    ADD CONSTRAINT commission_rules_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: payout_booking_items payout_booking_items_booking_fk; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_booking_items
    ADD CONSTRAINT payout_booking_items_booking_fk FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE RESTRICT;


--
-- Name: payout_booking_items payout_booking_items_payout_run_fk; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_booking_items
    ADD CONSTRAINT payout_booking_items_payout_run_fk FOREIGN KEY (payout_run_id) REFERENCES public.payout_runs(id) ON DELETE CASCADE;


--
-- Name: payout_line_items payout_line_items_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_line_items
    ADD CONSTRAINT payout_line_items_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: payout_line_items payout_line_items_payout_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.payout_line_items
    ADD CONSTRAINT payout_line_items_payout_run_id_fkey FOREIGN KEY (payout_run_id) REFERENCES public.payout_runs(id);


--
-- Name: refunds refunds_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE RESTRICT;


--
-- Name: refunds refunds_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: refunds refunds_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: refunds refunds_payout_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_payout_run_id_fkey FOREIGN KEY (payout_run_id) REFERENCES public.payout_runs(id) ON DELETE RESTRICT;


--
-- Name: users users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cadence
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict KfKNyK0qJjCpS2Q5lZ1j7ghMwId8Axxa0ucFpgPvVxg4cxBSMNTtmmwZhfkYIm6

